[2014-07-02 11:25] fengmk2 opened #1 "npm install fail on windows"
![image](https://cloud.githubusercontent.com/assets/156269/3455100/7fbaee64-01db-11e4-9c24-ae23bebb1fc2.png)

I think we should need to npm publish ignore `test/` dir.

[2014-07-02 11:33] #1 closed, assigned to nobody

[2014-07-03 04:57] hixus opened #3 "fails if passed argument is number"
Should check if passed argument is number because numbers don't have .replace method

usecase: spawn("weinre", ["--httpPort", 1234]);

[2014-07-03 08:47] #3 closed, assigned to nobody

[2014-08-27 22:44] sindresorhus opened #6 "Doesn't work"
Just the messenger: https://github.com/duojs/duo/issues/265

[2014-08-28 22:50] #6 closed, assigned to nobody

[2014-10-17 17:36] andig opened #7 "npm install fails on raspi"
Trying to install pimatic on raspi I'm stuck at cross-spawn, please excuse if this is the wrong place to ask:

[code]

[2014-10-18 08:40] #7 closed, assigned to nobody

[2015-02-19 21:40] heyimlance opened #8 "Can't seem to install"
npm WARN package.json screenshot@0.1.0 'repositories' (plural) Not supported.
npm WARN package.json Please pick one as the 'repository' field
npm http GET https://registry.npmjs.org/webshot
npm http 200 https://registry.npmjs.org/webshot
npm http GET https://registry.npmjs.org/graceful-fs
npm http GET https://registry.npmjs.org/cross-spawn
npm http GET https://registry.npmjs.org/phantomjs
npm http

[2015-02-19 22:30] heyimlance commented on #8
This seems to be a problem with my environment, thanks!

[2015-02-19 22:30] #8 closed

[2015-03-27 09:26] zaggino opened #9 "Command escaping doesn't work on Windows when there's a space in the path"
[code]

[2015-03-27 09:30] zaggino commented on #9
Debugging, actual parameters send to the original child_process.spawn are:
[code]

[2015-03-27 09:32] zaggino commented on #9
I'd put up a PR to fix this, but I'm not sure how... but I think `cmd.exe` shoulnd't be there in this case.

[2015-03-27 10:38] satazor commented on #9
@zaggino so it works if you execute from c:\ but not from d:\?

[2015-03-27 10:40] zaggino commented on #9
No, doesn't matter where you execute it from. I've moved the test files to `C:\test`:
[code]

[2015-03-27 10:41] zaggino commented on #9
I don't know the exact magic behind using `cmd.exe` but it probably shouldn't be used for other `.exe` files?

[2015-03-28 00:03] #9 closed

[2015-03-28 00:04] satazor commented on #9
Should be fixed now! Thanks for the report.

[2015-03-28 11:00] zaggino commented on #9
Thanks, confirmed fixed in `0.2.8`

[2015-05-04 04:04] BigstickCarpet opened #11 "Support spawnSync"
Node 0.12 now has [`spawnSync`](https://nodejs.org/api/child_process.html#child_process_child_process_spawnsync_command_args_options) in addition to `spawn`.   It would be great it node-cross-spawn supported this new method.

[2015-05-04 16:35] satazor commented on #11
Yeah this would be actually easy to do. We could simply add a .sync method. Can you do a PR?

[2015-05-06 08:02] satazor commented on #11
Merged and landed in `0.3.0`. Thanks for the PR, it was perfect!

[2015-05-06 08:03] #11 closed

[2015-06-10 14:53] BigstickCarpet opened #14 "Variable name collision: `spawnSync`"
[`index.js` line 5](https://github.com/IndigoUnited/node-cross-spawn/blob/ea480b9920a2546527d798d41803a5c880c25aa8/index.js#L5) declares a variable named `spawnSync`.

[`index.js` line 119](https://github.com/IndigoUnited/node-cross-spawn/blob/ea480b9920a2546527d798d41803a5c880c25aa8/index.js#L119) declares a function named `spawnSync`.

[`index.js` line 125](https://github.com/IndigoUnited/node-c

[2015-06-10 15:10] #14 closed

[2015-06-14 14:21] Glavin001 opened #16 "Does not return error ENOENT when program not found on Windows"
Thanks for developing cross-spawn! It is disappointing that Node.js does not support this out of the box, and your package provides something of great value to those developing packages that require support for Windows.

---

Normally, when `spawn` cannot find the program to be executed it returns an error ENOENT. However, since this command is wrapped in `cmd.exe` it no longer does that, and inst

[2015-06-14 15:34] satazor commented on #16
Hi Glavin, thanks!

Yes I would be interested in working around it, but your approach won't work on non-english operating systems because the error message won't be in english. I'm not sure if there's another way to correctly identify the issue, perhaps it needs further investigation.

[2015-06-14 15:49] Glavin001 commented on #16
Bummer! Very good point. I'm not sure what we can do for non-English windows support. I would have hoped that it would return a more useful/unique error number than 1. 

I've been using node-which to help retrieve an absolute path for executables. It supports windows as well. Maybe we could use it to resolve the command executable to an absolute path and if that fails then it indicates the same as

[2015-06-14 15:56] satazor commented on #16
Yea that would work. Perhaps what we should do is `run` the command and if error code is `1` we use `which` to disambiguate between a ENOENT or a real exit code of 1. What do you think?

[2015-06-14 21:03] Glavin001 commented on #16
I agree. How about if it it is both Windows and `error code` is 1 then it makes sense to do the check using [which](https://github.com/isaacs/node-which).
The error generated can be taken from here: https://github.com/joyent/node/blob/d13d7f74d794340ac5e126cfb4ce507fe0f803d5/deps/npm/lib/utils/spawn.js#L17-L21

[2015-06-14 23:10] satazor commented on #16
Yep exactly. Can you do a PR with the implementation and tests?

[2015-06-14 23:12] Glavin001 commented on #16
For sure. I'll put it on my TODO list for over these next few days. Let me know if you have any other ideas. 

—
Sent from Mailbox

On Sun, Jun 14, 2015 at 8:10 PM, André Cruz <notifications@github.com>
wrote:

[2015-06-15 11:46] Glavin001 opened #17 "Setup Windows CI"
Travis CI does not support Windows, although how about [AppVeyor](http://www.appveyor.com/)?

Any other reason why there isn't a Windows CI setup for this project already?

[2015-06-15 11:53] satazor commented on #17
Didn't had the time to find a solution. AppVeyor looks interesting though. Will look at it.

[2015-06-15 14:07] Glavin001 commented on #17
I am going to add AppVeyor for Windows testing in my Pull Request for #16.

[2015-06-15 15:39] Glavin001 commented on #16
Unfortunately, it looks like `spawnSync` does not return `ENOENT` error the same as `spawn` does.
If I log the `results` from `spawnSync` when trying to spawn `not-a-program` it does not contain the field for `error` and so does not have `ENOENT` error:

[code]

Async `spawn` works as expected.

[2015-06-15 16:17] Glavin001 commented on #16
The problem I am realizing now is that `cross-spawn` really handles the rewriting of the command passed into the applicable `spawn` method and leaves the rest up to the `method`. This may not really be straightforward to implement in `cross-spawn` without reimplementing `spawn`, or at least swapping its internal EventEmitter. `spawn` had [two EventEmitters internally](https://github.com/joyent/nod

[2015-07-01 14:13] johanneswuerbach opened #19 "Extract an async only version"
As this module is shipped with ember-cli and several ember-cli users have issues to compile native c extensions it would be nice to have the async version available as a separate module

Related: https://github.com/IndigoUnited/node-cross-spawn/pull/18

[2015-07-01 15:08] satazor commented on #19
I would prefer to do the inverse and create a sync version separately.

[2015-07-01 15:14] johanneswuerbach commented on #19
I'm fine with both and can look into it when I have some free minutes.

[2015-07-01 20:03] satazor commented on #19
Are you ok with this @BigstickCarpet ?

[2015-07-01 20:09] satazor commented on #16
What we can do is rewrite the `emit` function to prevent `exit` and `close` to actually emit the event and trigger the process of checking if the command exists. I can do a proof of concept in a branch and we could merge your efforts of using `AppVeyor`.

[2015-07-01 20:21] BigstickCarpet commented on #19
As long as the major version number changes, it should be fine. The only bummer is that libraries which require _both_ the sync _and_ async functionality (like [Yeoman](https://www.npmjs.com/package/yeoman-generator)) will have to import two libraries instead of one.

FYI - @kevva and @SBoudrias

[2015-07-01 20:23] satazor commented on #19
Perhaps indeed the best solution is to separate the `async` only version and keep node-cross-spawn as it is. I'm working on this at the moment.

[2015-07-01 20:23] SBoudrias commented on #19
We really didn't heard issues from user on our side having issue to compile native C.

Are you sure this is really an issue for a lot of your users?

[2015-07-01 20:40] johanneswuerbach commented on #19
I'm not sure, but @stefanpenner knows more.

[2015-07-01 21:56] satazor commented on #17
@Glavin001 this is done! working great so far.

[2015-07-01 21:56] #17 closed

[2015-07-01 22:33] stefanpenner commented on #19
yes, pains are as follows:

1. [all] slow install times
2. [windows users] are limited to 255char paths for things that run in gyp
3. [windows users] without any compiler toolchain
4. users with a misconfigured compiler toolchain

* the second issue, can be a total non-starter.
* 3 and 4 are often affect users who really should not be required to be comfortable with compiler toolchains to use simp

[2015-07-02 19:02] satazor commented on #19
Done.

https://github.com/IndigoUnited/node-cross-spawn-async

[2015-07-02 19:02] #19 closed

[2015-07-02 19:02] satazor commented on #16
This is fixed! Landed in 1.0.0

[2015-07-02 19:02] #16 closed

[2015-07-02 19:25] stefanpenner commented on #19
Thank you kindly :). :beers:

[2015-07-02 19:30] Glavin001 commented on #16
Awesome! Thank you for implementing this. This is great! Will be testing it out on my package soon.

[2015-07-02 23:08] satazor commented on #16
@Glavin001 Let me know if its working for you. If you are interested in how I've implemented, here it is:

https://github.com/IndigoUnited/node-cross-spawn-async/blob/master/lib/enoent.js#L14
https://github.com/IndigoUnited/node-cross-spawn/blob/master/index.js#L12

[2015-07-03 19:07] kevva commented on #19
@SBoudrias, are we even using the sync stuff? Else we should use `node-cross-spawn-async`.

[2015-07-15 21:43] SBoudrias opened #20 "spawn.sync looks broke"
We're having failing tests with yeoman generators. Here's a trace:

https://travis-ci.org/yeoman/generator-node/jobs/71051980

In the trace you can see we're using cross-spawn 1.0.3

[2015-07-15 21:49] satazor commented on #20
Hey @SBoudrias

The issue is with spawn-sync because it is using a fallback for node `0.10`.
Are you using stdio `inherit` anywhere? If so I've submitted a PR that fixes that here https://github.com/ForbesLindesay/spawn-sync/pull/26/files but they didn't land a release yet.

[2015-07-15 21:53] SBoudrias commented on #20
@satazor Yes, that's exactly what we're doing (setting stdio to `inherit`).

[2015-07-15 21:57] satazor commented on #20
Ok, I've seen that you asked them to release a new version.
I'll leave the issue open until its resolved.

[2015-07-16 16:58] satazor commented on #20
Bumped patch to force re-download new version.

[2015-07-16 16:58] #20 closed

[2015-10-04 05:28] artem-malko opened #21 "Test on windows are failed"

[2015-11-03 22:18] diegoaguilar opened #22 "Failing when trying to run a git command"
Using yeoman, which uses node-cross-spawn as dependency, I'm trying to start a git repo when scaffolding an application with a yeoman custom generator, this is what I got at the `install` step:

      install: function () {
        this.installDependencies();
        this.spawnCommand('npm', ['i', '--save' , 'express', 'mongodb', 'mongoose', 'lodash', 'bluebird', 'async', 'morgan']);
        this.

[2015-11-08 08:46] artem-malko commented on #21
@paulirish @carsy @marcooliveira @filipediasferreira @JoaoFOliveira @marcelombc @satazor could you fix tests on Windows?

[2015-11-11 21:26] NogsMPLS opened #23 "Failed to replace env in config: ${APPDATA}"
Running into a weird issue when I try to use cross-spawn to execute an npm command:

![appdata-error2](https://cloud.githubusercontent.com/assets/6899011/11103496/484213b0-8888-11e5-9412-8bcd369f7aeb.PNG)

This seems possibly related to:

https://github.com/npm/npm/issues/7468
https://github.com/npm/npm/issues/2840

[2015-11-28 23:48] satazor commented on #23
This looks like a npm problem, not a cross-spawn issue.. basically you have defined appdata in npmrc and not supplied a APPDATA env.

[2015-11-28 23:48] #23 closed

[2015-11-29 00:27] satazor commented on #21
Tests are now fixed.

[2015-11-29 00:27] #21 closed

[2015-11-29 00:32] satazor commented on #22
[code]

You forgot a comma, it should be.

[code]

[2015-11-29 00:32] #22 closed

[2015-11-29 04:42] artem-malko commented on #21
@satazor thank you.

[2016-02-04 01:33] feross opened #28 "Remove `spawn-sync`"
Can we remove the `spawn-sync` dependency? Node 0.10 will be completely unsupported in about 6 months (even including security releases). It's going to be completely dead soon.

It's a huge burden to maintainers to answer users questions about the native dependency errors in the npm install output. Even though we know it's harmless output, since the dependency is optional, users don't. So, we see

[2016-02-05 08:32] satazor commented on #28
I agree it's time to move forward. Regarding the users complaining about the errors, I think the real issue is that the output of npm is not very friendly, it definitively could be better.

`cross-spawn-async` was created to kind of mitigate this same issue, see https://github.com/IndigoUnited/node-cross-spawn/issues/19

So the plan need to include this module has well:

* [ ] Remove `spawn-sync`,

[2016-02-05 08:34] feross commented on #28
Sounds like a fine plan to me! :

[2016-02-05 08:49] satazor commented on #28
Also //cc @ForbesLindesay

[2016-02-05 09:15] ForbesLindesay commented on #28
I agree with this, spawn-sync is a polyfill that is rapidly going to cease to be useful/needed.  Removing the dependency and just forcing people onto a more recent version of node will certainly lessen the support burdon for me.

[2016-02-05 09:54] satazor commented on #28
//cc @kevva @stefanpenner, whats the node support on ember cli and yo?

[2016-02-09 11:50] satazor commented on #28
Bump

[2016-02-12 16:54] rosskevin opened #30 "executing rvm within normal bash conditions"
I'm trying to execute a command in an rvm environment.  To do so, I first need to execute `rvm env --path -- ruby-version` to yield the file with environment variables that should be sourced.  The problem is that this command always returns the global environment, instead of the local environment based on the `cwd`.

I have verified that the `cwd` is correct, as well as verifying the output via co

[2016-02-12 17:38] rosskevin commented on #30
Found it!

In my bash script, I had to add `-l`:

[code]

[2016-02-12 17:38] #30 closed

[2016-02-16 15:56] satazor commented on #28
@feross what do you think about #31?

[2016-02-18 23:06] feross commented on #28
@satazor Looks like a great solution.

[2016-02-18 23:09] stefanpenner commented on #28
ember-cli supports 0.10.x

[2016-02-19 11:22] satazor commented on #28
@stefanpenner I thought it did, nvm.

I will work on this in the weekend. Thanks for the feedback.

[2016-02-19 16:19] stefanpenner commented on #28
@satazor i believe at one point we did, but if memory serves node 0.10.x requires a native extension for execSync, which proved to be a pain point for many of our users. We now (atleast the default install) have no native extensions.

But thank you for checking in :)

[2016-04-13 10:02] mgol commented on #28
Has there been any progress on this issue? Is some help needed? I could try to find some time to get the ball rolling on that one if others are busy.

[2016-04-13 10:49] kevva commented on #28
@satazor, late to the party here, but `yo` is `>=0.12`.

[2016-05-18 11:54] satazor commented on #28
I will give this a go today.

[2016-05-18 13:21] satazor commented on #28
Done guys!

[2016-05-18 13:21] #28 closed

[2016-05-19 11:12] timdp opened #32 "Make cmd optional"
`child_process.spawn` [recently got](https://github.com/nodejs/node/commit/c3bb4b1aa5e907d489619fb43d233c3336bfc03d) a `shell` option that spawns `cmd.exe` for you on Windows, pretty much the way `cross-spawn` does. However, as discussed in nodejs/node#6671 and nodejs/node#6784, it signifcantly impacts performance.

To avoid unnecessarily slowing down the spawn call, I suggested looking at the fil

[2016-05-19 15:00] satazor commented on #32
So basically, using cmd.exe makes the spawn a lot slower if I understood correctly. The detection to whether use cmd or not must be clever. There's tooling such as `del` that are only available when running with the windows shell.

If it doesn't cause any harm, I'm willing to say it's a good idea.

[2016-05-19 17:04] timdp commented on #32
`del` might be quite easy to cover: we'd spawn `cmd.exe` by default and only bypass it if the file extension is in the whitelist (basically `.exe` and `.com`, I think). However, that'll mean that we also spawn a shell for commands that don't specify the extension, which will be the vast majority of cross-platform code.

Alternatively, perhaps we should maintain a list of commands included in the o

[2016-05-19 17:14] satazor commented on #32
`cross-spawn` resolves the command to a file using `which`. This means that even if you type `git`, it will resolve to `{path}/git.exe` on windows. I think that analysing the extension of the resolved file is the best option.

Removing the support for it would be a breaking change. `cross-spawn` supports it since the initial release and it's stated in the README.

[2016-05-19 17:55] timdp commented on #32
That's what semver is for. ;-)

[2016-05-19 18:02] satazor commented on #32
I know but keeping it won't interfere with the solution we are agreeing with. When attempting to resolve `del` to a file, it will return `null`. Since we ONLY avoid cmd.exe for known extensions, `del` would still run through cmd.exe.

[2016-05-20 08:00] timdp commented on #32
I agree. Just wanted to point out that breaking changes wouldn't necessarily be an issue, and that conceptually, `del` isn't being spawned.

At any rate, I'll see if I can come up with a PR that adds the extension check. I'll probably also add an option to bypass it, so people have an override for executables that do need to run in a shell for whatever reason.

[2016-05-20 08:01] satazor commented on #32
sgtm

[2016-05-20 12:56] ramyaa opened #33 "Unable to pipe stdout and stderr to a file"
Hi

I'm not able to pipe the stfout/err to a file. This is the sample im trying:

[code]

On running this i see a new command prompt popping up, with the "listening on 100101" message.
And run.log is empty.

Ideally, I would expect it to just pipe the output to run.log and NOT bring up a new cmd prompt.

Could you please help me with this?

Im running it on
[code]

Thanks
Ramya

[2016-05-20 14:40] satazor commented on #33
You can't pass a regular stream to stdio, it doesn't work like that. You must manually call .pipe() on .stdout and .stderr. Sorry for the small response but I'm on the phone. Hope this answer leads you to the correct path

[2016-05-23 12:06] satazor commented on #33
After investigating, your code looks correct and it should work.I'm currently investigating and it seems that NodeJS is doing some "hackery" with file descriptors when using `detached` that doesn't play well with `cmd.exe`.

[2016-05-23 12:08] ramyaa commented on #33
Oh good! Thanks for looking into it! Will wait for your update.

[2016-05-26 20:29] #32 closed

[2016-05-27 14:04] satazor commented on #33
@ramyaa could you try this with the v4.0.0 version? While not a definitive solution, it could have fixed your use-case.

[2016-05-27 18:08] ramyaa commented on #33
Sure. will check and let you know the results.

[2016-06-13 16:59] satazor commented on #33
Bump.

[2016-06-14 12:12] ramyaa commented on #33
Hey sorry... was held up in a couple of other tasks.
Will update you in a couple of days for sure.

Thanks
Ramya

[2016-08-12 17:41] satazor commented on #33
Closing this for now, feel free to comment whenever you get back to this.

[2016-08-12 17:41] #33 closed

[2016-08-29 23:52] kentcdodds opened #40 "Add `kill` function to spawn object"
Originally I wanted to extract [this](https://github.com/mysticatea/npm-run-all/issues/59) as a separate module, but I think it actually makes most sense to simply add it to `cross-spawn` itself. Would you be interested? The [`win32`](https://github.com/mysticatea/npm-run-all/blob/master/src/lib/spawn-win32.js#L19-L26) version of the function would be:

[code]

And the [`posix`](https://github.com

[2016-08-30 23:01] satazor commented on #40
I think this is out of the scope of this project and should be in its own module.

Thanks anyway.

[2016-08-30 23:01] #40 closed

[2016-08-30 23:10] kentcdodds commented on #40
`cross-spawn-with-kill` coming soon to an npm near you :)
cc @mysticatea

[2016-08-31 13:54] hemanth commented on #40
heh heh I came here exactly for this!

[2016-09-02 23:51] kentcdodds commented on #40
It's a thing now :) https://github.com/kentcdodds/cross-spawn-with-kill

[2016-09-03 10:54] satazor commented on #40
Cool

[2016-10-21 10:00] johanneswuerbach opened #42 "Different escaping between spawn and cross-spawn"
I'm trying to use `cross-spawn` as a drop-in replacement for `spawn` and execute the following command using the node 6 shell options, but it looks like the escaping in cross-spawn doesn't work the same as on linux.

On linux:
[code]

On windows:
[code]

[2016-10-23 09:41] satazor commented on #42
That's strange indeed. At the moment, I'm overwhelmed with work. Can you pinpoint where the issue is?
Thanks

[2016-10-24 07:44] MiracleBlue commented on #28
I believe this solution, while indeed vey nice, is causing Rollup a bunch of grief when used with the [rollup node resolve plugin](https://github.com/rollup/rollup-plugin-node-resolve).  Since spawn-sync is no longer included automatically in the dependency tree, and the conditional branch under which the require call to it is nested is not detected as being a dead branch, the rollup plugin dies w

[2016-10-25 14:26] ForbesLindesay commented on #28
rollup is generally best used for client side applications.  I think you will have a lot of problems trying to use it on the server side.  cross-spawn should only be used on the server side.  If we want to get this working the best bet would be to figure out a way to make rollup see this as dead code.  Either rollup needs to recognise and propagate the fact that `sync` here is always truthy on mod

[2016-10-25 21:41] MiracleBlue commented on #28
Ah.  I see.  I searched high and low for anything that could tell me whether or not Rollup could be used for my node CLI app, but it seemed vaguely like it could do it (based on the config options it supported) so I thought I'd give it a go.  Guess that explains why I'm having so many issues ;)

Thanks for the information, maybe I should submit an issue to Rollup to add some clarification to the d

[2016-10-27 09:33] ForbesLindesay commented on #28
In general, rollup **can** be used with node apps, and **can** significantly reduce startup times.  However, there will be modules that work in node, but do not work well with rollup.  It will likely also not give you meaningful startup time improvements unless all/most of your code is using ES6 style imports.

[2016-10-27 17:00] johanneswuerbach commented on #42
@satazor send a test + fix here: https://github.com/IndigoUnited/node-cross-spawn/issues/43

[2016-10-27 19:35] satazor commented on #42
@johanneswuerbach Running your example on Win10 throws me an error:

[code]

The correct way is:

[code]

Anyway, you are right that the behavior between spawn and cross-spawn is not consistent when `options.shell` is provided. I've taken a look at your PR but I think we should do NO escaping/manipulation whatsoever when `options.shell` is specified so that we mach NodeJS [behavior](https://github

[2016-10-27 20:55] johanneswuerbach commented on #42
Yes, that is the correct way on windows. Using the same under macOS doesn't work:

[code]

as the `(` also needs to be escaped.

While I could modify the command for both platforms, I thought cross-spawn should handle this somehow automagically.

[2016-10-27 20:59] Igmat commented on #40
@kentcdodds, thanks a lot for your package - it saves my day.
@satazor, are you sure that `kill()` for child processes is out of scope for your package? I've spent two days trying to figure out why my [integration test](https://github.com/kulshekhar/ts-jest/issues/32) doesn't work, cause I don't even thought that problem could be in your package. I have used your package in same manner as node's d

[2016-10-27 22:15] satazor commented on #42
Thinking out of the box, I think the correct call here is not to support the `shell` option.

Let me elaborate.. `cross-spawn` uses a shell on windows (cmd.exe) and does escape the command and args as necessary:

- If user passes `options.shell=false`, what's the behavior that cross-spawn should follow since it needs `cmd.exe`?
- If user passes `options.shell=true` could be easily supported, but s

[2016-10-27 22:24] johanneswuerbach commented on #42
I need the shell option so commands like `spawn('coffee', ['-c', '*.coffee'])` are correctly expanded  in https://github.com/testem/testem/pull/998 on unix platforms.

Another option might be to unset `shell` when the platform is windows and to remove the escaping already in testem or to use plain windows node spawn when the option is set 🤔

[2016-10-27 22:36] satazor commented on #42
@johanneswuerbach I see. Well we can certainly support case `2` and `3`. For case `1`, we should error out saying we don't support it because we need to use `cmd.exe`.

[2016-10-27 22:37] johanneswuerbach commented on #42
That would definitely work for me. 👍

[2016-10-27 22:40] satazor commented on #42
@johanneswuerbach alright I'm going to work on this asap. I'm feeling very tired these days, working too much, so bare with me.

[2016-10-27 22:42] johanneswuerbach commented on #42
No worries, if there is anything I can help with, just ping :-)

Can also refine https://github.com/IndigoUnited/node-cross-spawn/pull/43 if you give me any hints / more tests cases.

[2016-10-27 22:51] satazor commented on #42
#43 is a great start, but it needs to be refined. The desired behavior looks like this:

If `options.shell === false`, then fail with a "not supported message".
If `options.shell` is truish, then bypass any escaping; if a shebang is detected, the arg pushed needs to be escaped.
If `options.shell` is null, then it basically is the current behavior.

Tests that need to be added:
   - The test added

[2016-10-29 11:21] satazor commented on #42
@johanneswuerbach are you sure the windows shell support wildcard expansion? I think that, in your example, is actually "coffee" that is expanding the files, not the shell. See: http://superuser.com/questions/460598/is-there-any-way-to-get-the-windows-cmd-shell-to-expand-wildcard-paths

[2016-10-29 12:24] johanneswuerbach commented on #42
Correct, the windows shell doesn't support this. My use-case was more to allow running the same command (like the provided node script) consistently across all OSes.

Some commands testem receives are already escaped and were previously executed using exec, which has a limited output buffer size. I'm currently in the process of migrating all calls to use spawn with or without the shell option (dep

[2016-10-29 12:26] johanneswuerbach commented on #42
Another idea might be to just forward when shell: true and isWin to the default node implementation?

[2016-10-29 13:00] satazor commented on #42
I like that idea. We need to make that clear in the Readme. Time for a new PR? :p

[2016-10-29 17:31] satazor commented on #42
@johanneswuerbach can you take a look on https://github.com/IndigoUnited/node-cross-spawn/pull/45?

[2016-10-29 18:27] johanneswuerbach commented on #42
Also modified https://github.com/IndigoUnited/node-cross-spawn/pull/43, but having trouble to make the test pass.

[2016-10-30 15:04] satazor commented on #42
@johanneswuerbach I've worked a bit more and I came up with #46. It adds support for the `shell` option, even for node versions < 6. That PR also refactor the code to make it more clear.

Tell me what you think.

[2016-10-30 16:30] #42 closed

[2016-10-30 16:32] satazor commented on #42
@johanneswuerbach #46 landed in `v5.0.0`.

[2016-11-19 23:48] rollymaduk opened #49 "Cross-spawn fails to run remove command on windows"
using the rm -rf [directorypath]  command on windows fails to recognize the command, any idea why? your help will be greatly appreciated. Nice project by the way!

[2016-11-20 08:14] satazor commented on #49
The goal of this project is not to be able to give support for unix shell commands on Windows.

You might want to look at https://github.com/shelljs/shelljs

[2016-11-20 08:14] #49 closed

[2016-11-20 18:32] rollymaduk commented on #49
Thanks a lot @satazor very helpful!

[2016-11-21 11:24] dewdad opened #50 "Is there a way to pipe to parent stdout and then save that output to a variable?"
Meaning can I live log the child process but then save the out resulting output to a variable?

[2016-11-21 12:13] satazor commented on #50
You can listen to the `data` events and print it and accumulate at the same time. Is that what you want?

[2016-11-21 13:02] dewdad commented on #50
Can I do that with spawn.sync? Ideally that is what I'd like to do.

[2016-11-21 14:03] satazor commented on #50
No you can't, only with the async version. Additionally if this is for unix only, you can take a look at `tee`.

[2016-11-21 19:04] dewdad commented on #50
Thank you so much.

[2016-11-21 19:04] #50 closed

[2016-11-21 19:05] satazor commented on #50
Just for curiosity, what did you end up doing to accomplish what you wanted?

[2016-12-06 06:01] dewdad commented on #50
Exactly what you suggested using event emitters on the child process returned from the async call.

Thanks again.

[2016-12-12 22:29] greenkeeper[bot] opened #52 "An in-range update of eslint is breaking the build 🚨"
## Version **3.12.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Feslint-3.12.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-12-24 11:04] #52 closed

[2017-01-09 22:23] greenkeeper[bot] opened #54 "An in-range update of eslint is breaking the build 🚨"
## Version **3.13.1** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Feslint-3.13.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-01-28 23:36] ForsakenHarmony opened #58 "don't check for windows, check for cmd"
https://github.com/IndigoUnited/node-cross-spawn/blob/master/lib/parse.js#L64

check the comspec enviroment variable
this way it prevents anyone trying to use something other than cmd on windows

[2017-01-28 23:41] ForsakenHarmony commented on #58
you know what, fuck it

[2017-01-28 23:41] #58 closed

[2017-01-29 02:26] satazor commented on #58
@ForsakenHarmony I didn't understand what you were trying to say. Anyway, npm is not flawed.. it's actually the best package manager around.

[2017-01-29 02:26] #54 closed

[2017-02-02 16:48] ForsakenHarmony commented on #58
not npm itself, just support for anything other than cmd on windows

[2017-02-03 21:58] greenkeeper[bot] opened #59 "An in-range update of eslint is breaking the build 🚨"
## Version **3.15.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Feslint-3.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-10 10:55] brandones opened #61 "spawn.sync result object has `result.status == 0` for `result.signal == SIGKILL`"
From https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/bin/react-scripts.js

[code]

Result when the child process is hit with `kill -9`:

[code]

`result.status` should be equal to 9.

[2017-02-10 10:59] brandones commented on #61
Oh, this is apparently the same behavior as node's native `child_process.spawnSync`. I'll go look for answers upstream.

[2017-02-10 10:59] #61 closed

[2017-02-18 22:05] greenkeeper[bot] opened #62 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.0** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Frimraf-2.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-02-26 17:04] #62 closed

[2017-02-28 18:14] claudiopro opened #68 "child_process.spawn shell option is available in Node v5 and v4 too"
The `README` says the `shell` option of `child_process.spawn` doesn't work in Node `<v6` but the change was actually cherry-picked into `v4 LTS` and `v5`, see https://github.com/nodejs/node/pull/4598. I'll send a PR to correct it.

[2017-02-28 19:47] #68 closed

[2017-04-03 22:11] #59 closed

[2017-05-04 21:10] joadr opened #70 "spawn inputs console warnings into stdout stream"
Hello,
I got here because I'm trying to convert pdf files to images using graphicsmagic. The thing is that PDF files exported with Microsoft word on Mac OS X, have some weird thing and the command of graphicsmagick throws a warning in the console. The issue here is that that warning printed in the console is attached to the stdout from this library causing that the resulting file is corrupted (has

[2017-05-04 22:20] satazor commented on #70
Cross-spawn doesn't do anything soecial regarding stdout and stderr, it simply respects that. If that library is printing warnings into stdout, they are mixing output with logging. You should report that error to graphicsmagick instead.

[2017-05-04 22:23] joadr commented on #70
Is there a way of adding > /dev/null at the end of the command in order to avoid the warning message? I do it in my computer and warning disappears and the file gets converted.

[2017-05-04 22:59] satazor commented on #70
No, you would have to use child process exec instead. Could you provide the sample file, shell command and nosejs code so I can help you further?

[2017-06-06 10:49] satazor commented on #70
Closing due to lack of feedback.

[2017-06-06 10:49] #70 closed

[2017-06-06 18:00] greenkeeper[bot] opened #74 "An in-range update of lru-cache is breaking the build 🚨"
## Version **4.1.0** of [lru-cache](https://github.com/isaacs/node-lru-cache) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Flru-cache-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lru-cache
    </td>
  </tr>
  <tr>
    <th

[2017-06-06 18:58] #74 closed

[2017-07-30 08:02] imgx64 opened #77 "Commands with spaces fail with shell: true"
Commands with spaces fail with `shell: true`, but work if it's false. node developers say fixing this from their side would break other things: nodejs/node#7367 . Should this be fixed in cross-spawn? What do you think?

[code]

[2017-07-31 05:29] imgx64 commented on #77
This is a regression in 5.0.0. `cross-spawn@4.0.2` handled this correctly.

[2017-07-31 11:52] SteveALee opened #78 "Paths with NTFS JUNCTIONS (links)"
If I pass a file such as `node_modules\foo\index.js` as the 2nd arg to spawn.sync,  where foo is  a JUNCTION (NTFS link) to another folder then I get the error

"The system cannot find the file specified!"

It's obviously not following through the link

This situation occurs when locally developing a package andwanting to run somehting in it.

[2017-09-11 18:23] greenkeeper[bot] opened #79 "An in-range update of rimraf is breaking the build 🚨"
## Version **2.6.2** of [rimraf](https://github.com/isaacs/rimraf) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/IndigoUnited/node-cross-spawn/compare/greenkeeper%2Frimraf-2.6.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rimraf
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-09-21 05:08] sudo-suhas opened #80 "Possible issue with pre-commit + npm + spawn env"
When `cross-spawn` is invoked in a `pre-commit` hook code by husky, if the `process.env` is used, npm command errors out inexplicably on windows:

[code]

On manually removing the silent(`-s`) flag in the husky pre-commit hook(`subl ./.git/hooks/pre-commit`), we can see the error logs:

<details>

<summary>npm error logs</summary>

[code]

</details>

<br>

I faced and fixed these issues in a coup

[2017-09-21 05:12] sudo-suhas commented on #80
If I switch everything out to yarn, this happens:

[code]

Does not fail but still causes an error somewhere.

[2017-11-02 22:15] evocateur commented on #80
I found this to be a problem only in Windows (on AppVeyor hosts, specifically). Runs on linux (TravisCI) and OS X do not exhibit this problem.

The cheesy workaround is to add `--no-onload-script` to any `npm` calls, but as this is just duplicating what _should_ be the default for that option, it's not a long-term solution.

[2017-11-03 02:46] sudo-suhas commented on #80
You could also filter `process.env` for `undefined` values to fix this issue. That was how we had fixed the issue in `kcd-scripts` and `opt-cli`.

[2017-11-10 18:56] #79 closed

[2017-11-10 18:57] satazor commented on #78
@SteveALee Sorry for the late response. Could you please add a failing test case so I can fix the issue?

[2017-11-10 21:43] satazor commented on #78
Cool! I will be releasing a major version soon that will:
- solve a bug that I've found when an argument is something like `"foo | bar"`
- fix #77

I was hoping to address this too, but I think we can release a minor afterwards.

[2017-11-10 23:49] satazor commented on #80
@sudo-suhas I've cloned the repository that you have created but I was unable to reproduce the error on Windows.

I'm running node v8.9. Could you please help me reproduce?

[2017-11-11 00:15] satazor opened #82 "Bad escaping when an argument has quotes followed by a pipe"
`"foo|bar>baz"`

[2017-11-11 01:23] satazor commented on #77
Sorry for the late response.

When you are using `shell: true`, you are executing code specific to the platform you are targeting. That's why there's no escape being done in the arguments. The same applies to the command itself.

Having that said, this is by design. Basically, when you use `shell:true`, you are in charge of everything.

[2017-11-11 01:23] #77 closed

[2017-11-11 01:54] satazor commented on #82
Fixed by #83

[2017-11-11 06:00] sudo-suhas commented on #80
This is very odd but I am not able to reproduce the issue either. I am no longer seeing `undefined` values in `process.env`. This could be because I updated [cmder](https://github.com/cmderdev/cmder) version but I am not sure. I am closing this for now. I will reopen it if I am able to reproduce the issue.

[2017-11-11 06:00] #80 closed

[2017-12-31 09:12] JerryGreen opened #87 "Cannot resolve dependency 'spawn-sync'"
You require `spawn-sync`:

[code]

But here's your dependencies:

[code]

There's no such thing as `spawn-sync`. Wuuut?

[2017-12-31 09:43] satazor commented on #87
Hello, please read the installation instructions. The reason for it not being listed is that it’s only necessary for very old node releases.

[2017-12-31 09:43] #87 closed

[2017-12-31 10:25] JerryGreen commented on #87
actually I found that I don't need that lib

btw I used node v9.3.0

[2017-12-31 10:46] satazor commented on #87
You were running an older version of node otherwise the error wouldn’t be thrown.

[2017-12-31 14:01] AndersDJohnson opened #88 "Support option to mirror exit status"
Support an option to internally call `process.exit(result.status)`.

[2017-12-31 14:11] satazor commented on #88
Is that something that Node.js does?

[2018-01-20 13:20] satazor commented on #88
Closing because lack of feedback.

[2018-01-20 13:20] #88 closed

[2018-01-20 15:27] AndersDJohnson commented on #88
I am not aware of such a feature in Node. Is 1:1 feature parity a goal here?

[2018-01-20 18:13] satazor commented on #88
Yep, the goal is to be a drop-in replacement for nodejs spawn.

[2018-01-20 18:14] satazor commented on #88
If you are looking for more high-level spawn/exec, I would suggest you to use https://github.com/sindresorhus/execa, which uses `cross-spawn` underneath.

[2018-01-23 00:39] #82 closed

[2018-01-23 00:44] satazor commented on #78
@SteveALee I've landed the changes into master. Are you willing to look into this?

[2018-01-23 07:50] SteveALee commented on #78
Sure, but will be at end of the week. Thanks!!!

[2018-01-30 22:17] evocateur opened #90 "path.normalize(command) breaks local command on rebased cwd"
## Problem

The recent ginormous v6 commit introduced an unconditional `path.normalize()` wrapping the command, which breaks `spawn('./foo', { cwd: 'subdir' )`:
https://github.com/moxystudio/node-cross-spawn/blob/e77b8f22a416db46b6196767bcd35601d7e11d54/lib/parse.js#L107

I can't say what bug it was intended to fix, as the giant commit perverts all useful context. It is definitely breaking posix "

[2018-01-31 01:59] satazor commented on #90
Thanks for the report, I will look into this shortly.

[2018-01-31 04:10] satazor commented on #90
I'm sorry for this unfortunate bug.

#91 fixes it and a release will follow soon.

[2018-01-31 04:48] #90 closed

[2018-01-31 04:49] satazor commented on #90
`v6.0.4` released, could you try it out and give feedback?

[2018-01-31 05:06] evocateur commented on #90
Spectacular, thank you! I will verify first thing tomorrow.

[2018-01-31 10:52] SteveALee commented on #78
@satazor I'm unable to reproduce now. Thanks

[2018-01-31 11:11] satazor commented on #78
Wow nice! Will close this then.

[2018-01-31 11:11] #78 closed

[2018-04-01 15:26] morgs32 opened #95 "How do I run an npm command with NPM_TOKEN?"
I'm not able to figure it out... perhaps you know?

[2018-04-01 15:27] morgs32 commented on #95
Forgive me for tagging you @satazor but I see you were the last person to commit.

[2018-04-01 16:21] satazor commented on #95
I guess you can pass npm token as a env var? Cross spawn has the same options as node’s spawn.

[2018-04-14 21:33] #95 closed

[2018-04-24 16:27] annakocheshkova opened #96 "Child process hangs"
I'm using the library to execute a command in terminal:

[code]
It enters `onLine` several times with the output, but then just hangs and does nothing (no exit, no error). What are the possible reasons for that? Is that a bug?

If I execute the command in Terminal, everything's fine. The command is linking a module to react native application (react-native link).

[2018-04-24 17:49] satazor commented on #96
It's hard to tell if that's a bug from your side or our side. I suggest that you use Node's `spawn` and see if the bug still manifests. If it does, then it's a bug on your side, otherwise it's on our side.

Makes sense?

[2018-04-24 18:16] annakocheshkova commented on #96
@satazor actually one of the reasons I switched to your lib is that node's spawn was giving me `spawn raect-native ENOENT`

[2018-04-24 18:31] annakocheshkova commented on #96
@satazor Oh you mean use local react-native.cmd with Node spawn? No, it still gives me ` spawn "/node_modules/.bin/react-native.cmd" ENOENT`

[2018-04-24 18:32] satazor commented on #96
The path should be relative, it seems you are using it absolutely because of the trailing `/`

[2018-04-24 18:34] satazor commented on #96
Anyway, it would be more helpful if you could give me a reproducible test case so that I can help you in a easier way.

[2018-04-24 18:40] annakocheshkova commented on #96
How is it then? Same for `./node_modules/.bin/react-native.cmd` and `node_modules/.bin/react-native.cmd`

I'm using it to run a `react-native link` inside of the RN app:
`react-native init sample-app`
`cd sample-app`
`react-native i appcenter appcenter-analytics`

Then in my node js app, inside of the sample app folder, I use the following code to execute `react-native link` automatically:

[code]

[2018-04-24 18:54] satazor commented on #96
Alright, I will try to replicate. Give me a few minutes.

[2018-04-24 19:37] annakocheshkova commented on #96
@satazor Have found a hint... The process gives no output because it waits for the input. But it doesn't send the actual line that is before the output (where is it lost?). So, in short, it waits for the input a line earlier than it is in reality.

In example, the command output is:
[code]

What I actually get in stdout callback is just `Configuring Analytics...` and that' all.

[2018-04-24 20:11] satazor commented on #96
I see.

Have you tried setting stdio to `inherit`? https://nodejs.org/api/child_process.html#child_process_options_stdio

[2018-04-26 07:10] annakocheshkova commented on #96
@satazor No it didn't help. Actually I have found out that the issue is deeper and actually is in `node`, not your lib, and the process hangs even with `eexec` and even if the input is provided..
So anyway, huge thanks for help, I think im gonna open an issue in their repo.

[2018-04-26 07:10] #96 closed

[2018-09-02 19:11] mattflix opened #104 "Please add switch to opt-out of special ENOENT behavior for Windows if desired"
In my use of `cross-spawn` (actually via the `cross-env` package), I have discovered that there is some special error-emission behavior (apparently for Windows and `cmd.exe`?) implemented by the `enoent.js` source file, which is described on the following line:

https://github.com/moxystudio/node-cross-spawn/blob/master/lib/enoent.js#L25

This line also contains a comment which refers the original

[2018-09-11 01:48] greenkeeper[bot] opened #105 "An in-range update of babel-preset-moxy is breaking the build 🚨"
## Version **2.3.4** of **babel-preset-moxy** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/moxystudio/node-cross-spawn/compare/master...moxystudio:greenkeeper%2Fbabel-preset-moxy-2.3.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://

[2018-09-11 10:56] satazor commented on #104
@mattflix are you willing to do a PR to add such an feature via an option named `shimENOENT`? The option should be well documented with some examples where it's useful to be `false`, such as when using "cmdlet" commands.

[2018-09-11 11:11] #105 closed

[2018-10-23 14:20] Siilwyn opened #108 "Drop support for versions below Node.js 6"
Something for the future, I was looking into reducing my CLI tool size and noticed the `semver` package at the top when sorting by size.

When going with Node.js 6 and higher two dependencies, `semver` and `nice-try` are not needed anymore since they are used only once for feature detection here:
https://github.com/moxystudio/node-cross-spawn/blob/bbd342bd7d94ffdf8a9418190c3fb947b72aca73/lib/parse

[2018-11-01 16:21] GongT opened #111 "Wrong detection under yarn on windows"
## Test suite:
* package.json
[code]

* test.js

[code]

## command to run
[code]

## my output
[code]

generated `yarn` and `node` in my $TEMP folder, contains bash script.

## problem
this is also a yarn issue.
But yarn not want to fool this module, so the detect logic must have a bug. ( Or maybe there is a bug in nodejs core 🤣 )

[2018-11-05 09:32] GongT commented on #111
Ok, finally, I found this is a yarn bug. yarnpkg/yarn#6631

[2018-11-05 09:32] #111 closed

[2018-12-25 01:07] aoberoi commented on #104
I just wanted to express a big thanks to @mattflix for describing this issue so well.

I am also running into a problem that could be solved by an option for disabling the `ENOENT` shimming behavior. Specifically, I'm sending the process a `SIGKILL` and I expect the process to exit with the code `1`. However, the shim is masking my ability to handle that. The `'close'` event never fires, and there

[2019-01-03 23:07] mattflix commented on #104
@satazor, I could take a stab at it.

I see the modifications needed in `node-cross-spawn` should be pretty simple.  Something like...  just avoid branching to the existing ENOENT shimming logic when the proposed `parsed.options.shimENOENT` value is falsy?

I have some concerns/questions:

* What should the default value for `shimENOENT` be?

   Should we make the shimming an opt-in behavior (defa

[2019-03-12 10:22] jimitpatel opened #119 "Improper documentation"
Documentation do not provide sufficient information on what is the parameter used under spawn command. The document is only for those who are into javascript for few years. Not recommended for new buddies or new learners

[2019-03-12 14:05] satazor commented on #119
Hello!

In the usage section, we have this:

Where `spawn` and `spawnSync` link to nodejs documentation where all the arguments are described I detail.

Even for newcomers, it’s pretty explicit. What suggestion do you have to be more welcoming?

[2019-03-13 01:12] satazor commented on #104
Sorry for the late answer, I'm reading all the issues again and I would like to refresh this one.

Correct, that's why there's a check in place to also see if the actual command file exists and only throw ENOENT if it doesn't.

This module is not designed to call `cmdlets` as they are not cross-platform, meaning you shouldn't use `cross-spawn` in these scenarios.

This shouldn't happen as this mod

[2019-03-13 01:13] satazor commented on #119
Closing this for now.

[2019-03-13 01:13] #119 closed

[2019-03-13 01:14] satazor commented on #108
Node 6 is reaching EOL in April. In May, I will remove both node 4 and 6 support in a single release.

[2019-03-13 06:26] mattflix commented on #104
Thanks for the reply.

Not to get off track, but it is not PowerShell cmdlets specifically that are "the issue" here, but rather `cross-spawn`'s assumption that a command can only be valid if it names something in the file system.  This i not always the case.  PowerShell cmdlets are just one example that break this assumption, but other kinds of "aliasing" or methods of identifying commands (that

[2019-04-05 19:56] amiteshore opened #120 "How to store the value of a command?"
Hello,

Actually I'm building a CLI app, I want to ask users some question, like project name or project author. And I want to give them default value of project author as git user.name.

My code below:

[code]

This code is perfectly printing the git user.name in the console but I want to store it in a variable or something like that so I can use it in the future.

Note: My app is a lot like `npm

[2019-04-24 17:01] MohamedLamineAllal commented on #40
@satazor What's wrong with accepting the PR ?

[2019-04-25 12:43] satazor commented on #40
You may read the thread starting at this comment on why it didn’t make it: https://github.com/moxystudio/node-cross-spawn/pull/44#issuecomment-343612282

[2019-06-05 23:10] busticated opened #122 "`which` bin conflicts with native `which` when running npm scripts..."
hey there :wave:

thanks for a very helpful lib :pray::+1:

i'm coming here by way of [execa](https://github.com/sindresorhus/execa) having hit upon a fairly gnarly edge-case:

let's say you have a js script that tries to execute a file via `execa` and the file it executes runs `which`. if you run that script via npm - e.g. `npm run my-script.js` - cross-spawn's `which` dependency overrides the na

[2019-06-14 07:01] sindresorhus commented on #120
If you mean "persistently store the value", you probably want [`conf`](https://github.com/sindresorhus/conf).

[2019-06-14 08:50] ehmicky commented on #108
@satazor, any news on this? Thanks!

[2019-06-17 12:17] amiteshore commented on #120
Thank you @sindresorhus.
It's working.

[2019-06-17 12:17] #120 closed

[2019-08-06 15:44] luizfelipe94 opened #124 "Does not work inside workers threads"
I am trying to use execa by running code in worker threads, and it is generating the TypeError error [ERR_WORKER_UNSUPPORTED_OPERATION]: process.chdir () is not supported in workers.

process.chdir(cwd)

[2019-08-19 14:18] satazor commented on #108
It’s time to remove support for older Node versions. @Siilwyn @ehmicky want to give this a try?

[2019-08-19 14:36] Siilwyn commented on #108
@satazor https://github.com/moxystudio/node-cross-spawn/pull/125

[2019-08-20 09:14] satazor commented on #108
#125 was merged!

[2019-08-20 09:14] #108 closed

[2019-08-20 09:15] satazor commented on #108
I will release a new version in the next hours.

[2019-10-05 17:34] ehmicky commented on #124
Related execa issue: #357

[2019-10-05 17:57] satazor commented on #124
Seems easily solvable by adding a try catch just like the one we are doing above. Care to do a PR?

[2019-10-05 19:08] ehmicky commented on #124
I can do that, but I don't know if I would have time to add a unit test since I'm not familiar with the test setup yet. Would it be ok to send PR without a unit test for this?

[2019-10-05 22:45] satazor commented on #124
Yep!

[2019-10-06 13:31] ehmicky commented on #124
Done at #127.

[2019-10-06 14:24] #124 closed

[2019-10-15 04:54] radar commented on #122
Should this perhaps be filed on https://github.com/npm/node-which instead?

[2019-10-25 13:20] ehmicky commented on #104
+1 on everything @mattflix said.

I think the `ENOENT` logic should be simply removed altogether. It is flawed as @mattflix described it. Namely it is assuming the following:
  - when running on Windows with `shell: true` (`cmd.exe`)
  - then any exit code `1` means `ENOENT`

This is simply not true. `ENOENT` can be seen in `cmd.exe` thanks to the very clear error message printed on `stderr`: `...

[2020-01-20 08:26] afzalsayed96 opened #129 "Publish as global package?"
Can or does it support following usage?

[code]

[2020-04-03 10:08] Lakitna opened #130 "Does not work inside workers threads with custom current working directory"
I'm using `node-cross-spawn` via `execa` inside a worker thread.

I seem to have found an issue related to #127 that only pops up if you set a custom cwd.

I've traced the error back to this line: <https://github.com/moxystudio/node-cross-spawn/blob/master/lib/util/resolveCommand.js#L11>

When we're running in a worker thread `process.chdir` is not `undefined`. Instead, it's a named function.

[co

[2020-04-03 16:10] satazor commented on #130
Thanks @Lakitna for the PR.

Can you check this out @ehmicky?

[2020-04-03 17:07] ehmicky commented on #130
Fixed in #132.

[2020-04-03 17:13] satazor commented on #130
@Lakitna it seems that @ehmicky is more correct, can you check it it solved the issue you are having before merging?

[2020-04-03 17:24] Lakitna commented on #130
Yeah, that looks much nicer.

It works just fine on node@13 :)

[2020-04-04 01:32] #130 closed

[2020-05-27 20:07] elinskytap opened #134 "Cannot download v7.0.3"
I have an issue when yarning the package. The error message is as below
[code]
Does anyone have the same issue?

[2020-05-27 22:34] guilhermedeandrade commented on #134
Which command did you run? Was it `yarn add cross-spawn@7.0.3`? If so, I couldn't reproduce it here

[2020-05-28 00:33] elinskytap commented on #134
I think that is an internal issue with verdaccio. Thanks for taking a look!

[2020-05-28 00:33] #134 closed

[2020-05-28 11:00] guilhermedeandrade commented on #134
You're welcome!

[2020-07-06 11:14] zenflow opened #135 "Use the `/q` flag with `cmd.exe`"
Is this an nodejs issue we can solve here in userland?

https://github.com/nodejs/node/issues/27120 - Use the `/q` flag with `cmd.exe` in `child_process.spawn()`

I think it makes sense to add the flag by default here (in cross-spawn), without any option, even if it won't be done by default in Node.js child_process because it prevents a "special" Windows behavior (i.e. printing an extra line like

[2020-07-06 11:50] zenflow commented on #16
Is this still an issue on current versions of Node.js? I don't see any issue in the node.js repo linked

[2020-07-16 02:27] 1000i100 opened #136 "use unix tools if available in windows"
I use git-bash (like probably nearly all windows npm user).
if i run mkdir -p plop it create me plop folder if not existant and do nothing if it exist.
if i do the same as npm task or with npm-run-all it create me -p folder and plop if they don't exist and fail if there already there.

is'nt possible to use git-bash command in priority when available ?

(copy from https://github.com/mysticatea/npm

[2020-07-17 11:35] #129 closed

[2020-08-10 08:53] kratoon3 opened #137 "EBADF: bad file descriptor, uv_pipe_open on windows with ipc"
Stack trace:

Hey guys, I have a problem with child_process on windows while using ipc so I asked [a question](https://stackoverflow.com/questions/63303200/node-child-process-spawn-bad-file-descriptor-on-windows-with-ipc).

I found this module to solve it but the same error happens.

The problem occurs on windows, spawning something in js (e.g. npm or child.js) and with ipc option.
The ipc is requ

[2020-09-03 10:54] tarithj commented on #104
Is there a fix to this issue?

[2020-09-04 15:33] Leif-W opened #138 "Node.js spawn results in ENOENT on Termux/Android"
Node.js spawn results in ENOENT on Termux/Android, despite the command (in my case, npm) being installed, and in the PATH found in process.env.  The Termux devs claim this works correctly on Android 10, but they dropped Android 5.0 support last year or two ago and will not update Node binary.

On the Node.js repo, in an older bug related to Windows, bnoodhuis has stated that such issues will never

[2020-09-20 16:55] bersbersbers opened #139 "Support ~ (tilde) in PATH"
I have come across a problem (as a user of LaTeX Workshop, https://github.com/James-Yu/LaTeX-Workshop/issues/2282) when I had a tilde in my PATH. Many things worked, but it seems `cs.spawn` was failing. Maybe `cs.spawn` could understand the tilde (related: https://github.com/nodejs/node/issues/684).

[2020-09-21 21:24] bernardoadc opened #140 "spawnSync freezes"
I opened an issue in eslint, but that led us here. Please refer to https://github.com/eslint/eslint/issues/13681

**Environment:**

ESLint Version: 6.8.0
Node Version: 12.11.1
npm Version: 6.11.3

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect to happen?**
Ask to install peer dependenc

[2020-10-29 19:22] jssuttles opened #141 "double quotes in arguments"
I've been trying to track down an issue with double quotes in my arguments and it has led me to believe that the escapeArgument function in this package is the issue.

https://stackoverflow.com/a/31413730

This stackoverflow says that when escaping double quotes in windows you must use double double quotes.
`"` -> `""`

[2020-10-29 20:29] satazor commented on #141
Hello! Can you add a failing test in a PR so that we can take a look?

[2020-10-29 20:56] jssuttles commented on #141
Alright. working on it.

[2020-11-05 16:49] jssuttles commented on #141
Sorry, I've been swamped. I'll get back to this when I can.

[2020-11-17 02:11] jssuttles commented on #141
Looks like I don't have time. Would you prefer that I create a new issue when I get the PR ready?

[2020-11-25 14:03] ehmicky commented on #104
This bug was mentioned in https://github.com/sindresorhus/execa/issues/446

@satazor If you think my above comment is a good solution, please let me know and I will submit a PR. Thanks!

[2021-01-03 13:44] quentinrossetti opened #143 "windowsHide option"
Hi, while tracking down an [issue raised](https://github.com/quentinrossetti/node-7z/issues/89) on a package I discovered that the `windowsHide` option does not work with `cross-spawn`.
I've done some digging into you codebase but can't find where the issue might be.
Can you help with that?

[2021-04-23 08:52] Kieran3101 commented on #16
discord

[2021-06-11 21:21] ehmicky commented on #104
Some additional information to add to this issue: Node.js actually implements some logic to detect `ENOENT` on Windows. It does so by translating many Windows system error codes to `ENOENT` in libuv ([link to code](https://github.com/libuv/libuv/blob/46451737e6174281317cabdf05c9ba1434c359d6/src/win/error.c#L133)). When this happens, an `error` event is triggered on the `child_process` ([link to co

[2021-08-26 19:45] meilechwieder opened #145 "Stop Child Process on SIGINT"
When I press ctrl+c on the termianl while I run a script that uses croos-spawn, it does not stop the child process

Notice I use `spawn.sync`. But even without `sync`, It doesn't stop the child process

[code]

[2021-08-29 20:34] cinderblock commented on #145
I wonder if this is the same problem that `nodemon` had to deal with in https://github.com/remy/nodemon/issues/1025.

Specifically, using [`child_process.fork` instead of `child_process.spawn`](https://github.com/remy/nodemon/issues/1025#issuecomment-345361918) for **`node`** executables.

I'm using npm to run a `package.json#script`, which in turn uses `nodemon` with `cross-env` to launch the `we

[2021-10-06 19:08] weyyserabut opened #147 "Block or remove please"

[2021-11-18 13:27] Cactusbone commented on #137
I have the same error using

[code]

on node 16, with nodist

[2021-12-01 01:21] localhosted opened #148 "In Windows, spawn.kill() doesn't kill child process"
Trying to run a project that uses cross-spawn and in Windows `spawn()` spawns a cmd that the runs my command. When killing the spawned pid the node process doesn't die:

[code]

[2021-12-13 07:33] Shujee opened #149 "process.version is undefined"
The following line in in enoent.js:

`var isNode10 = process.version.indexOf('v0.10.') === 0;`

says that `process.version` is undefined. I'm using this in a Vue/Typescript project. This happens when I do `npm run serve`. It builds and loads fine, but throws this exception when the page is opened in the browser (MS Edge).

![image](https://user-images.githubusercontent.com/5603658/145770910-7d2a55

[2021-12-24 00:30] webketje commented on #149
[`process.version`](https://nodejs.org/api/process.html#processversion) is a correct assumption.
it makes absolutely no sense that this library is loaded in the browser.
Maybe you added it in package.json `dependencies` instead of `devDependencies`? In any case something is wrong with the tooling/bundling at your end

[2021-12-24 03:15] Shujee commented on #149
Thanks. Later I found that this library is supposed to be used in Node environment on the server-side. I had added it to a VueJS project thinking that it is a normal client-side JS library (like axios), which was causing the trouble. I then found PDF.js which is an actual client-side lib that can convert PDF files to images.

[2021-12-24 03:16] #149 closed

[2022-02-11 03:21] mnpenner opened #150 "The command itself is not properly escaped"
This shouldn't "work":

[code]

`echo foo bar` should be treated in its entirety as the name of the command. It's not being escaped.

[2022-08-01 18:51] jairmilanes commented on #104
I just like to leave my +1 here.

I ran into this and it took me a day to understand why my command had the full expected output in `stdout` but was ending with a `ENOENT ` error.

I'm working on a Electron app that uses NPM cli to run some commands, including the `outdated` command, and when there are outdated dependencies, the command ends with status code 1, but it is not actually an error, it

[2022-09-11 23:31] steinybot opened #151 "error is null"
The type from node child_process is:
[code]

but I am getting:
[code]

on something like:
[code]

[2022-09-22 03:23] scZhengChao opened #152 "apple m1 throw error"
"use strict";
Object.defineProperty(exports, "__esModule", { value: true });
exports.spawnSafeSync = void 0;
const cross_spawn_1 = require("cross-spawn");
const defaultOptions = {
    logStdErrOnError: true,
    throwOnError: true,
};
const spawnSafeSync = (command, args, options) => {
    const mergedOptions = Object.assign({}, defaultOptions, options);
    const result = cross_spawn_1.sync(comma